* {
    box-sizing: border-box
}

body {
    padding-top: 25px;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    max-width: 960px;
    margin: auto;
}

p,
h2 {
    text-align: center;
}

#new-book-btn {
    display: block;
    margin: auto;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr auto auto auto;
    grid-gap: 20px;
}

form label {
    display: block;
}

form div {
    width: 100%
}

input,
select {
    padding: 10px;
    width: 100%;
}

input#pages {
    text-align: right;
}

button#submit-book {
    margin-top: auto;
    height: 40px;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    margin: 15px auto;
    table-layout: fixed;
    border-collapse: collapse;
    border: 1px solid black;
    text-align: center;
}

td {
    padding: 15px;
    color: #2c2c2c;
    border-bottom: 1px solid #5e5e5f;
}

th {
    background-color: #54585d;
    color: #ffffff;
    font-weight: bold;
    border: 1px solid #54585d46;
}

table tr:nth-child(even) {
    background-color: white;
}

table tr:hover {
    background-color: #dddddd;
}

button {
    cursor: pointer;
    border: 1px solid #babfc3;
    padding: 7px 16px;
    min-height: 36px;
    min-width: 36px;
    color: #202223;
    background: #ffffff;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 0px 0px;
}

button:hover {
    background: #f6f6f7;
    outline: 1px solid transparent;
}

/*checkbox css from https: //www.w3schools.com/howto/howto_css_custom_checkbox.asp*/
#read-container {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: auto;
    padding-bottom: 5px;
}

/* Hide the browser's default checkbox */
#read-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
#read-container:hover input~.checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
#read-container input:checked~.checkmark {
    background-color: #54585d46;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
#read-container input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
#read-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid rgb(2, 2, 2);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

@media (max-width: 600px) {

    body {
        min-width: 360px;
        font-size: 15px;
    }

    table {
        width: 100%;
    }

    td {
        min-width: 30px;
        min-height: 30px;
        overflow: hidden;
    }

    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #new-book-form {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 15px;
    }

    input,
    select {
        width: auto;
        text-align: center;
    }

    input#pages {
        text-align: center;
    }

    #read-container {
        padding: 0;
        margin: 0;
    }

    #read-container input {
        height: auto;
        width: auto;
        opacity: inherit;
        position: inherit;
    }

    .checkmark {
        display: none;
    }

    button {
        padding: 5px !important;
    }


}

.hidden {
    display: none !important;
}